<div class="flex justify-end h-fit mb-2" [ngClass]="{'w-4/6': show_form, 'w-full': !show_form}" *ngIf="!show_form">
    <button (click)="show_form=true"
        class="p-2 text-teal-600 rounded flex justify-center items-center gap-2 hover:bg-teal-100 transition-all hover:duration-500 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        new task
    </button>
</div>

<div class="flex gap-2 h-full">
    <!-- todo list -->
    <div class="flex-none h-full overflow-auto transition-all duration-500 ease-in-out"
        [ngClass]="{'w-4/6': show_form, 'w-full': !show_form}">
        <table class="table-fixed w-full">
            <thead class="border-b sticky top-0 bg-transparent z-10">
                <tr>
                    <th scope="col"
                        class="w-20 bg-teal-600 text-sm font-medium text-white px-6 py-4 text-left rounded-tl-lg">status
                    </th>
                    <th scope="col" class="bg-teal-600 text-sm font-medium text-white px-6 py-4 text-left">title</th>
                    <th scope="col" class="bg-teal-600 text-sm font-medium text-white px-6 py-4 text-left">date</th>
                    <th scope="col" class="bg-teal-600 text-sm font-medium text-white px-6 py-4 text-left">user</th>
                    <th scope="col"
                        class="w-20 bg-teal-600 text-sm font-medium text-white px-6 py-4 text-left rounded-tr-lg"></th>

                </tr>
            </thead>
            <tbody [@list_animation]="todo_list.length">
                <tr class="border-b" *ngFor="let item of todo_list">
                    <td class="w-20 text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <input [checked]="item.status === 'completed'" (click)=" check_todo(item)"
                                id="todo_checkbox" type="checkbox" value=""
                                class="w-4 h-4 text-white appearance-none bg-white border border-gray-300 rounded checked:bg-amber-400 checked:text-white">
                        </div>
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4"
                        [ngClass]="{'line-through text-opacity-25':item.status === 'completed'}">{{item.title}}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap truncate">{{item.dueOn|
                        date:'short'}}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 ">{{item.user.name}}</td>
                    <td class="w-20 text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <!-- delete button -->
                        <button class="w-8 text-slate-400" (click)="delete_todo(item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tr *ngIf="todo_list.length == 0" [@open_close]="':open'">
                <td colspan="4" rowspan="4">
                    <div class="h-full w-full flex justify-center drop-shadow-lg pt-8">
                        <img class="w-4/6 h-96 pt-8" src="assets/imgs/undraw_todo.svg" alt="">
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="flex-1 h-fit bg-teal-100 rounded-lg overflow-hidden p-4" *ngIf="show_form">
        <app-form-todo (task_emitter)="action($event)"></app-form-todo>
    </div>
</div>