<div class="flex flex-col p-4">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="table-fixed min-w-full">
                    <thead class="border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nombre</th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">email</th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Gènero</th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Estado</th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Posts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b" *ngFor="let item of usuarios">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.node.name}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.node.email}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.node.gender}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.node.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

