<table class="table-fixed w-full h-96 overflow-auto">
    <thead class="border-b">
        <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">name</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">email</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">gender</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">status</th>
            <th scope="col" class="text-sm w-24 font-medium text-gray-900 px-6 py-4 text-left">Posts</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-b" *ngFor="let item of user_list">
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.name}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap truncate">{{item.email}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.gender}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.status}}</td>
            <td class="text-sm w-24 text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">
                {{item.posts.totalCount}}</td>
        </tr>
    </tbody>
</table>