<div class="container px-2">
    <div class="columns-1">
        <div class="px-4">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                name</label>
            <input type="text" id="filtro_autor"
                class=" border border-teal-500 text-teal-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring focus:ring-teal-500 focus:border-teal-500 placeholder-teal-500"
                placeholder="Escriba el nombre del autor para buscar" [formControl]="author_filter" required>
        </div>
    </div>
    <div class="columns-1">
        <table class="table-fixed w-full border-separate border-spacing-2">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>usuario</th>
                    <th>body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of post_list | author: author_filter.value">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.user.name}}</td>
                    <td>
                        <div class="line-clamp-3">{{item.body}}</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>