<!-- start principal page -->
<div class="absolute top-10 bottom-10 left-20 right-20 rounded-3xl shadow-xl container-sm border">
    <!-- start dashboard -->
    <div class="flex flex-wrap gap-2 justify-center items-center absolute top-0 bottom-0 left-0 right-0  p-2 pl-0">
        <!-- start menu -->
        <app-menu></app-menu>
        <!-- end menu -->

        <!-- management area -->
        <div class="flex-1 w-96 rounded-xl h-full flex flex-col bg-teal-50">
            <h1 class="flex-none font-medium leading-tight text-5xl mt-5 mb-2 ml-10 w-full text-teal-600">Welcome</h1>

            <div class="flex-1 h-full overflow-hidden px-4 flex justify-center">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- management area -->
    </div>
    <!-- end dashboard -->
</div>
<!-- end principal page -->