<!-- start principal page -->
<div class="absolute top-10 bottom-10 lg:left-20 lg:right-20 left-5 right-5 rounded-3xl shadow-xl container-sm border">
    <!-- start dashboard -->
    <div class="flex lg:flex-row flex-col justify-center items-center w-full h-full p-2 lg:pl-0">
        <!-- start menu -->
        <div class="flex-none flex justify-center lg:w-24 lg:h-full lg:relative absolute top-5 right-2 bg-transparent rounded w-3/6  h-20">
            <app-menu></app-menu>
        </div>
        <!-- end menu -->

        <!-- management area -->
        <div class="flex-1 rounded-xl h-full flex flex-col bg-teal-50">
            <h1 class="flex-none font-medium leading-tight text-5xl mt-5 ml-10 w-full text-teal-600">Welcome</h1>
            <h3 class="flex-none font-medium leading-tight mb-2 ml-10 w-full text-slate-400">With this
                app you can manage users, posts and comments</h3>

            <div class="flex-1 w-full lg:h-full h-2/6 overflow-hidden px-10  mt-5  box-border relative">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- management area -->
    </div>
    <!-- end dashboard -->
</div>
<!-- end principal page -->